table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid black;
  }

td{
    width: 20%;
}

.info{
    width: 10em;
    font-weight: bold;
    
}

img{
    width: 200px;
}

